:root {
  --background-color: #eee;
  --icon-color: #ff8c00;
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 15px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}
.nav-link {
  list-style: none;
  font-size: 1rem;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
#nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
#logo img {
  width: 300px;
}
#form-section {
  width: 50%;
  margin: 80px auto 0 auto;
  /* border: 2px solid black; */
  padding: 10px;
  text-align: center;
}
form input {
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 1.8rem;
  width: 15rem;
  outline: none;
  padding: 5px;
}
#submit {
  width: 10rem;
  background-color: #f1c40f;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}
#details {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 2rem; */
  width: 70%;
  row-gap: 5rem;
  column-gap: 2rem;
  margin: 50px auto 70px auto;
}
.icon {
  color: var(--icon-color);
}

#video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
#pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card li {
  list-style: none;
  line-height: 1.8;
}
.card {
  width: 26%;
  height: 320px;
  border: 1px solid black;
}
.card h4 {
  background-color: #dddddd;
  padding: 20px;
  text-align: center;
}
.card li:first-child {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.card ul > li {
  text-align: center;
}
.button-container {
  text-align: center;
}
.button {
  width: 8rem;
  background-color: #f1c40f;
  margin: 30px 0px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
footer {
  width: 82%;
  background-color: #dddddd;
  margin: 20px auto 0 auto;
  padding: 20px;
}
footer ul > li {
  list-style: none;
}
footer ul > li a {
  text-decoration: none;
  color: black;
}
footer ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 10px;
}
footer p {
  color: #444444;
  text-align: right;
}
@media all and (max-width: 800px) {
  #nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  #form-section {
    margin: 100px auto 0 auto;
  }
  #pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 60%;
    height: 320px;
    border: 1px solid black;
  }
}
@media all and (max-width: 600px) {
  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #video-section {
    padding: 0 20px;
  }
}
@media all and (max-width: 1000px) {
  footer {
    width: 100%;
  }
}
